.ai__blog {
  display: flex;
  flex-direction: column;
}
.ai__blog-heading {
  width: 100%;
  text-align: left;

  margin-bottom: 5rem;
}
.ai__blog-heading h1 {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 62px;
  line-height: 75px;
  letter-spacing: -0.04em;
}
.ai__blog-container {
  display: flex;
  flex-direction: row;
}
.ai__blog-container__groupA {
  flex: 0.75;
  margin-right: 2rem;
}
.ai__blog-container__groupB {
  flex: 1;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}
